page-register {
    .registercss ion-slide{padding: 0 15px}
    .background{
        // background: url('../assets/bg.png') no-repeat center center fixed;
        // background-size: cover;
        // background-color: #005498;
        background-image: linear-gradient(to right bottom, #00549a, #0066ab, #0078bb, #0b8aca, #1d9dd9);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        
    }
    
    .registercss .item-md{background:none!important}
    .registercss .item-inner{border-bottom:solid 1px #fff!important;}
    .registercss .slide-zoom p{color:#fff;font-size: 25px;text-align: left;font-weight: 300;line-height:32px;margin-top:0}
    .registercss .label-md[floating]{font-size: 16px;color:#fff}
    .registercss form .item-md{padding-left: 0!important;}
    .registercss .nextbtn{position: absolute;font-size: 42px;right:25px;bottom: 15px;width:75px;height:75px;border-radius: 50%;color:#fff;background:rgba(28, 33, 33, 0.2);box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1) }
    .registercss .prevbtn{position: absolute;font-size: 42px;left:10px;top: 20px;width:60px;height:50px;border-radius: 50%;color:#fff;background: none }
    .registercss .scroll-content{padding-bottom:0!important}
    .registercss .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{box-shadow:none;}
    .registercss .item-label-floating .text-input-md{color:#fff}
}
